$colorPrimary: red;
$colorSecondary: green;
$colorTertiary: blue;

body {
    margin: 1rem;
    border: 2px solid $colorPrimary;
    text-align: center;

    h1 {
        color: $colorSecondary;
        margin-top: 2rem;
        display: inline;
        border-bottom: 2px solid $colorTertiary;
    }

    section {
        display: flex;
        margin: 1rem;

        article {
            border: 2px solid $colorSecondary;
            color: $colorTertiary;
            padding: 1rem 5px;
        }

        article:nth-child(2), article:nth-child(4) {
            @extend article;
            color: $colorPrimary;
        }
    }
}
